# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Gives the team, https://github.com/orgs/NibiruChain/teams/backend, ownership of
# the entire repository.
*                 @NibiruChain/backend
